input[type="text"].error {
	border: 1px solid red;
	color: red;
}

input[type="text"].error:focus {
	border: 1px solid red;
}

label.error {
	color: red;
}

#menu-posts-cww_donate_form .wp-menu-image {
	background: url(../../images/df-post-type-icon.png) no-repeat 6px -18px !important;
}
        
#menu-posts-cww_donate_form:hover .wp-menu-image, #menu-posts-cww_donate_form.wp-has-current-submenu .wp-menu-image {
	background-position: 6px 6px !important;
}

#icon-edit.icon32-posts-cww_donate_form {
	background: url(../../images/df-post-type-icon-32x32.png) no-repeat;
}